<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center">Store new secret</h1>
        <form method="post" action="/write/">
            <div class="form-group my-5">
                <label for="expiry">Expiry</label>
                <select class="form-select" id="expiry" name="expiry">
                    <option value="3600">1 hour</option>
                    <option value="86400">1 day</option>
                    <option value="604800">1 week</option>
                </select>
            </div>
            <div class="form-group">
                <label for="secret">Secret</label>
                <textarea class="form-control" id="secret" name="secret" rows="3"></textarea>
            </div>

            <div class="text-center">
                <button type="submit" class="mt-5 btn btn-lg btn-outline-success">Create Secret</button>
            </div>
        </form>
    </div>
</div>
